{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="head">
        <span class="profile-name">Денис</span>
        <span>Картинки</span>
        <span>Фан проекты</span>
        <div class="theme-switch-wrapper">
            <label class="theme-text">Тёмная | Светлая</label>
            <label class="theme-switch" for="theme-checkbox">
                <input type="checkbox" id="theme-checkbox">
                <div class="slider round"></div>
            </label>
        </div>
        <img class="profile-image-top" src="{% static 'main/img/profile.jpeg' %}" >
    </div>
    <div class="content">
            {% block content %}{% endblock %}
        {% comment %} <p class="no-content-text">Здесь пусто, грустно конечно<br>но когда нибудь здесь что то обязательно будет</label> {% endcomment %}
    </div>
</body>
<script src="{% static 'main/js/script.js' %}"></script>
</html>